* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: grid;
  align-items: center;
  justify-items: center;
  row-gap: 1rem;
  grid-template-columns: 1fr;
  margin: 16px;
}

.friendlyWording {
  align-content: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 10%;
  margin-right: 10%;
}

.description {
  font-size: 12px;
  margin-top: 8px !important;
  margin-bottom 8px !important;
}

.contactBox {
  display: flex;
  margin-top: 50px;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.boxGrid {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 48px;
  row-gap: 16px;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

button {
  background-image: linear-gradient(to top left, #0284c7, #7dd3fc);
  /* background-color: #333; */
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 15px;
}

button:hover {
  background-image: linear-gradient(to top left, #075985, #0ea5e9);
}

@media (max-width: 1000px) {
    .boxGrid h1 {
        font-size: 1.8em !important;
    }
}

.hits {
    border-collapse: collapse;
    width: 100%;
    display: grid !important;
    align-content: center;
    justify-content: center;
}
.hits th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.hits td {text-align: right;}
.hits th {text-align: left;}

.hits tr:nth-child(even) {
    background-color: #f2f2f2;
}

.chartCol {
    width: 50%;
    float: left;
    padding: 20px;
}